<div class="container">
  <div class="row">
    <div class='mx-auto col-sm-12 col-md-8 col-lg-5 px-sm-0 mt-3 text-center'>
      <h2 style="font-family: 'Times New Roman', serif;">Bands</h2>

      <% if @bands.any? %>
        <table class='table table-hover table-inverse'>
          <tbody>
            <% @bands.each do |band| %>
              <tr>
                <td class="align-middle">
                  <%= link_to band_path(band) do %>
                    <h3><%= band.band_name %></h3>
                  <% end %>
                </td>
                <td>
                  <%= link_to "バンドを削除", band_path(band), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger float-right" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-info" role="alert" style="font-style: italic;">
          No band 
        </div>
      <% end %>
    </div>
  </div>
</div>
